<footer class="mt-5">
  <div class="fixed-bottom bg-white p-1">
    <hr>
    <div class="container">
      <div class="row text-center">
        <div class="col-8">
          &copy; Rafael Pereira de Lacerda Lopes
        </div>
        <div class="col-4">
          <a href="https://github.com/rafaelpllopes/sistema_labtb" target="blank">
            <i class="fa fa-github fa-2x"></i>
          </a>
          <a href="mailto:rafael.pllopes@gmail.com">
            <i class="ml-2 fa fa-at fa-2x"></i>
          </a>
        </div>
      </div>
      <p class="text-center">Secretaria Municipal de Saúde de Itapeva/SP</p>
    </div>
  </div>
</footer>