/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 5em;
}

.break-word {
    word-break: break-all;
}

section {
    padding-bottom: 5em;
}

@media print {
    header, footer, nav, aside, button, a {
       display: none;
    }    
 }