<div class="container">
  <form [formGroup]="informeForm" class="form mt-4" (submit)="buscar()">
    <div class="form-row align-items-center">

      <div class="form-group col-md-6">
        <label for="aspecto">Mês</label>
        <select class="custom-select" formControlName="mes">
          <option value="" disabled>Selecione um mês</option>
          <option *ngFor="let mes of meses" [ngValue]="mes.numero">
            {{ mes.nome }}
          </option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label for="aspecto">Ano</label>
        <select class="custom-select" formControlName="ano">
          <option value="" disabled>Selecione um ano</option>
          <option *ngFor="let ano of anos" [ngValue]="ano">
            {{ ano }}
          </option>
        </select>
      </div>
      <div class="col-md-12 text-center">
        <app-vmessage *ngIf="informeForm.get('ano').errors?.required" text="Ano deve ser selecionado"></app-vmessage>
        <app-vmessage *ngIf="informeForm.get('mes').errors?.required" text="Mês deve ser selecionado"></app-vmessage>
      </div>
      <div class="col-md-12">
        <button [disabled]="informeForm.invalid" class="btn btn-primary btn-block" type="submit">Gerar</button>
      </div>

    </div>
  </form>

  <section id='pdf' *ngIf="$informes | async as informes">
    <div class="img-container">
      <img src="../../assets/timbrev2.1.png" class="img-fluid" alt="header-logo">
    </div>
    <p class="mt-4">Mês referência: abr/2018</p>
    <h4 class="text-center text-uppercase mt-4">Informe mensal de exames realizados para tuberculose</h4>
    <div class="table-responsive">
      <table class="table table-striped table-bordered text-center">
        <caption>Data: 19/02/2019</caption>
        <thead>
          <tr>
            <th scope="col" rowspan="4" class="align-middle">Local Residencia</th>
            <th scope="col" colspan="4" class="align-middle">Exames Realizados</th>
            <th scope="col" colspan="2" rowspan="2" class="align-middle">Pacientes sintomácos respitarórios</th>
          </tr>
          <tr>
            <th scope="col" colspan="4">Baciloscopias</th>
          </tr>
          <tr>
            <th scope="col" colspan="2" class="align-middle">Diagnósticos</th>
            <th scope="col" rowspan="2" class="align-middle">Controle de tratamento</th>
            <th scope="col" rowspan="2" class="align-middle">Total de BAAR</th>
            <th scope="col" rowspan="2" class="align-middle">Sintomatico Respiratorio Examinados</th>
            <th scope="col" rowspan="2" class="align-middle">Positivos Diagnosticados (Baciloscopia)</th>
          </tr>
          <tr>
            <th scope="col" class="align-middle">1ª Amostra</th>
            <th scope="col" class="align-middle">2ª Amostra</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of informes" >
            <th scope="col">{{ item.unidade }}</th>
            <td>{{ item.qtd_amostra1 }}</td>
            <td>{{ item.qtd_amostra2 }}</td>
            <td>{{ item.qtd_controle }}</td>
            <td>{{ item.qtd_amostra1 }}</td>
            <td>{{ item.qtd_amostra1 }}</td>
            <td>{{ item.qtd_positivo }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Total geral</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
          </tr>
        </tfoot>
      </table>
    </div>

    <section class="text-right">
      <br>
      <div class="linha-assinatura"></div>
      <p>Responsavel pelo preenchimento</p>
    </section>

    <div class="text-center">
      <p>Laboratórios de Baciloscopia Pesquisa de BAAR-TB
        <br>Secretaria Municipal da Saúde
        <br>Itapeva/SP
      </p>
    </div>


  </section>
</div>