@media screen {
    .img-container {
        display: none;
    }
    
    .assinatura {
        display: none;
    }    
}

@media print {
    h1 {
       color: #000;
       background: none;
    }
 
    html, body, span, p, form, img, a, ul, ol, li, table, tr, td, div, section {
        margin: 0;
        padding: 0; 
        border: none; 
        outline: none;
        list-style-type: none;
    }

    form div {
        padding-right: 0.2em;
        padding-left: 0.2em;
    }

    nav, aside, button, a, header, footer {
       display: none;
    }
 
    body {
       width: 100%;
       height: 100%;
    }

    .img-container {
        display: inline-block;
        padding-bottom: 0.5em;
    }

    .assinatura {
        display: block;
    }
 
    @page {
       page-break-after: auto;
       margin-left: 1cm;
       margin-right: 1cm;
       margin-bottom: 1cm;
       margin-top: 1cm;
    }
 }