@media screen {
    .img-container {
        display: none;
    }
    
    .assinatura {
        display: none;
    }    
}

@media print {
    h1 {
       color: #000;
       background: none;
    }
 
    nav, aside, button, a {
       display: none;
    }
 
    body {
       width: 100%;
       margin: 0;
       padding: 0;
    }

    .img-container {
        display: inline-block;
        padding-bottom: 2em;
    }

    .assinatura {
        display: block;
    }
 
    @page {
       margin-left: 3cm;
       margin-right: 2cm;
       margin-bottom: 2cm;
       margin-top: 3cm;
    }
 }