<section *ngIf="laudo$ | async as laudo" class="bottom">
  <div class="img-container">
      <img src="../../assets/timbrev2.1.png" class="img-fluid" alt="header-logo">
  </div>
  <h4 class="text-center text-uppercase">Baciloscopia Pesquisa de BAAR-TB</h4>
  <form>
    <fieldset>
      <legend>Dados do paciente</legend>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="data-entrada">Data Entrada</label>
          <input type="text" class="form-control" id="data-entrada" value="{{ laudo.laudo_data_entrada | date:'dd/MM/yyyy' }}"
            readonly>
        </div>
        <div class="form-group col-md-6">
          <label for="hora-entrada">Hora Entrada</label>
          <input type="text" class="form-control" id="hora-entrada" value="{{ laudo.laudo_data_entrada | date:'hh:mm:ss' }}"
            readonly>
        </div>
        <div class="form-group col-md-4">
          <label for="cns">CNS</label>
          <input type="text" class="form-control" id="cns" value="{{ laudo.paciente_cns }}" readonly>
        </div>
        <div class="form-group col-md-4">
          <label for="data-nascimento">Data Nascimento</label>
          <input type="text" class="form-control" id="data-nascimento" value="{{ laudo.paciente_data_nascimento }}"
            readonly>
        </div>
        <div class="form-group col-md-4">
          <label for="idade">Idade</label>
          <input type="text" class="form-control" id="idade" value="{{ laudo.paciente_data_nascimento | idadeCalc }} ano(s)"
            readonly>
        </div>
        <div class="form-group col-md-8">
          <label for="paciente">Paciente</label>
          <input type="text" class="form-control" id="paciente" value="{{ laudo.paciente_nome }}" readonly>
        </div>
        <div class="form-group col-md-4">
          <label for="sexo">Sexo</label>
          <input type="text" class="form-control" id="sexo" value="{{ laudo.paciente_sexo | sexoNome }}" readonly>
        </div>
        <div class="form-group col-md-4">
          <label for="cep">CEP</label>
          <input type="text" class="form-control" id="cep" value="{{ laudo.paciente_cep }}" readonly>
        </div>
        <div class="form-group col-md-6">
          <label for="logradouro">Logradouro</label>
          <input type="text" class="form-control" id="logradouro" value="{{ laudo.paciente_logradouro }}" readonly>
        </div>
        <div class="form-group col-md-2">
          <label for="numero">Numero</label>
          <input type="text" class="form-control" id="numero" value="{{ laudo.paciente_numero }}" readonly>
        </div>
        <div class="form-group col-md-4">
          <label for="bairro">Bairro</label>
          <input type="text" class="form-control" id="bairro" value="{{ laudo.paciente_bairro }}" readonly>
        </div>
        <div class="form-group col-md-4">
          <label for="cidade">Cidade</label>
          <input type="text" class="form-control" id="cidade" value="{{ laudo.paciente_municipio }}" readonly>
        </div>
        <div class="form-group col-md-4">
          <label for="estado">Estado</label>
          <input type="text" class="form-control" id="estado" value="{{ laudo.paciente_estado }}" readonly>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Exame</legend>
      <div class="row">
        <div class="form-group col-md-8">
          <label for="material">Material</label>
          <input type="text" class="form-control" id="material" value="{{ laudo.laudo_material }}" readonly>
        </div>

        <div class="form-group col-md-4">
          <label for="data-coleta">Data Coleta</label>
          <input type="text" class="form-control" id="data-coleta" [value]="laudo.laudo_data_coleta | date:'dd/MM/yyyy'"
            readonly>
        </div>

        <div class="form-group col-md-6">
          <label for="diagnostico">Diagnóstico</label>
          <input type="text" class="form-control" id="diagnostico" value="{{ laudo.laudo_amostras }}ª amostra" readonly>
        </div>

        <div class="form-group col-md-6">
          <label for="controle">Controle de Tratamento</label>
          <input type="text" class="form-control" id="controle" value="{{ laudo.laudo_controle }}ª mês" readonly>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Resultado da Baciloscopia</legend>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="resultado">Resultado</label>
          <input type="text" class="form-control" id="resultado" [value]="laudo.resultado" readonly>
        </div>

        <div class="form-group col-md-6">
          <label for="aspecto">Aspecto</label>
          <input type="text" class="form-control" id="aspecto" [value]="laudo.aspecto" readonly>
        </div>

        <div class="form-group col-md-12">
          <label for="obs">Observação</label>
          <textarea class="form-control" id="obs" [value]="laudo.laudo_obs" rows="7" readonly></textarea>
        </div>
      </div>
    </fieldset>

    <div class="assinatura">
      <div class="row">
        <div class="form-group col-md-4">
          <label for="data-saida">Data de Saida</label>
          <input class="form-control" id="data-saida" [value]="dataSaida" readonly>
        </div>

        <div class="form-group col-md-8">
          <label for="data-saida">Assinatura do responsavel pelo exame</label>
          <input class="form-control" id="data-saida" readonly>
        </div>
      </div>
    </div>

    <a class="btn btn-success btn-lg mr-2" [routerLink]="['/laudos']">Voltar</a>
    <button class="btn btn-primary btn-lg" (click)="print()">Imprimir</button>
  </form>
</section>