@media print {
  h1 {
    color: #000;
    background: none;
  }

  html,
  body,
  span,
  p,
  form,
  img,
  table,
  tr,
  td,
  div,
  section {
    margin: 0;
    padding: 0;
  }

  nav,
  aside,
  button,
  a,
  header,
  footer,
  form,
  ul,
  ol,
  li {
    display: none;
  }

  body {
    width: 100%;
    height: 100%;
  }

  @page {
    page-break-after: auto;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 2cm;
    margin-top: 2cm;
    line-height: 1.5cm;
  }
}
