<h4 class="text-center text-uppercase">Laudo</h4>
<p>
  Entrada {{ laudo.laudo_data_entrada | date:'dd/MM/yyyy hh:mm:ss' }}
</p>
<form [formGroup]="formLaudo" (submit)="update()">
  <fieldset>
    <legend>Dados do paciente</legend>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="cns">CNS</label>
        <input type="text" class="form-control" id="cns" [value]="laudo?.paciente_cns" readonly>
      </div>
      <div class="form-group col-md-4">
        <label for="data-nascimento">Data Nascimento</label>
        <input type="text" class="form-control" id="data-nascimento" [value]="laudo?.paciente_data_nascimento | date:'dd/MM/yyyy'" readonly>
      </div>
      <div class="form-group col-md-4">
        <label for="idade">Idade</label>
        <input type="text" aria-describedby="idadeHelp" class="form-control" id="idade" [value]="laudo?.paciente_data_nascimento | idadeCalc"
          readonly>
        <small id="idadeHelp" class="form-text text-muted text-right">ano(s)</small>
      </div>
      <div class="form-group col-md-8">
        <label for="paciente">Paciente</label>
        <input type="text" class="form-control" id="paciente" [value]="laudo?.paciente_nome" readonly>
      </div>
      <div class="form-group col-md-4">
        <label for="sexo">Sexo</label>
        <input type="text" class="form-control" id="sexo" [value]="laudo?.paciente_sexo | sexoNome" readonly>
      </div>
      <div class="form-group col-md-4">
        <label for="cep">CEP</label>
        <input type="text" class="form-control" id="cep" [value]="laudo?.paciente_cep" disabled readonly>
      </div>
      <div class="form-group col-md-6">
        <label for="logradouro">Logradouro</label>
        <input type="text" class="form-control" id="logradouro" [value]="laudo?.paciente_logradouro" disabled readonly>
      </div>
      <div class="form-group col-md-2">
        <label for="numero">Numero</label>
        <input type="text" class="form-control" id="numero" [value]="laudo?.paciente_numero" disabled readonly>
      </div>
      <div class="form-group col-md-4">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control" id="bairro" [value]="laudo?.paciente_bairro" disabled readonly>
      </div>
      <div class="form-group col-md-4">
        <label for="cidade">Cidade</label>
        <input type="text" class="form-control" id="cidade" [value]="laudo?.paciente_municipio" disabled readonly>
      </div>
      <div class="form-group col-md-4">
        <label for="estado">Estado</label>
        <input type="text" class="form-control" id="estado" [value]="laudo?.paciente_estado" disabled readonly>
      </div>
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" [value]="laudo?.paciente_email" readonly>
      </div>

      <div class="form-group col-md-6">
        <label for="telefone">Telefone</label>
        <input type="phone" class="form-control" id="telefone" [value]="laudo?.paciente_telefone" readonly>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Exame</legend>
    <div class="row">
      <div class="form-group col-md-8">
        <label for="material">Material</label>
        <input formControlName="material" type="text" class="form-control" id="material" [value]="laudo?.laudo_material">
      </div>

      <div class="form-group col-md-4">
        <label for="data-coleta">Data da Coleta</label>
        <input formControlName="dataColeta" type="date" id="data-coleta" placeholder="Data da Coleta" class="form-control" [value]="laudo?.laudo_data_coleta">
      </div>

      <div class="form-group col-md-6">
        <label for="diagnostico">diagnostico de Tratamento</label>
        <input formControlName="diagnostico" aria-describedby="diagnosticoHelp" type="number" class="form-control" id="diagnostico"
          [value]="laudo?.laudo_amostras">
        <small id="diagnosticoHelp" class="form-text text-muted text-right">ª amostra</small>
      </div>

      <div class="form-group col-md-6">
        <label for="controle">Controle de Tratamento</label>
        <input formControlName="controle" aria-describedby="controleHelp" type="number" class="form-control" id="controle"
          [value]="laudo?.laudo_controle">
        <small id="controleHelp" class="form-text text-muted text-right">º mês</small>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Resultado da Baciloscopia</legend>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="resultado">Resultado</label>
        <select class="custom-select" formControlName="resultado">
          <option value="" disabled>Selecione um resultado</option>
          <option *ngFor="let resultado of resultados" [ngValue]="resultado?.resultado_id" [selected]="verificaSelect(laudo?.resultado_id, resultado?.resultado_id)">
            {{ resultado.resultado }}
          </option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label for="aspecto">Aspecto</label>
        <select class="custom-select" formControlName="aspecto">
          <option value="" disabled>Selecione um aspecto</option>
          <option *ngFor="let aspecto of aspectos" [ngValue]="aspecto?.aspectos_id" [selected]="verificaSelect(laudo?.aspecto_id, aspecto?.aspectos_id)">
            {{ aspecto.aspecto }}
          </option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <label for="obs">Observação</label>
        <textarea formControlName="obs" class="form-control" id="obs" [value]="laudo?.laudo_obs" rows="10"></textarea>
      </div>
    </div>
  </fieldset>
  <button [disabled]="formLaudo.invalid" class="btn btn-primary btn-lg mr-2" type="submit">Salvar</button>
  <a class="btn btn-danger btn-lg" [routerLink]="['/laudos']">Cancelar</a>
</form>