<a class="btn btn-primary btn-lg" [routerLink]="['novo']"><i class="fa fa-plus-circle"> Novo Paciente</i></a>

<h2 class="text-center text-uppercase">Pacientes</h2>

<button class="btn btn-secondary btn-block" (click)="mostrar()"><i aria-hidden="true" class="fa fa-list mr-1">
    Busca Avançada</i></button>
<div [ngClass]="{ 'active-search': isShow }">
  <form [formGroup]="searchForm" class="form mt-4" (submit)="search()">
    <div class="form-row align-items-center">

      <div class="form-group col-md-4">
        <label for="cns">CNS</label>
        <input formControlName="cns" type="text" class="form-control" id="cns" (keyup)="cnsSearch($event.target.value)"
          maxlength="15" minlength="15" autocomplete="off">
        <app-vmessage *ngIf="searchForm.get('cns').invalid" text="Tamanho minimo e maximo é 15 caracteres"></app-vmessage>
      </div>

      <div class="form-group col-md-9">
        <label for="nome">Nome</label>
        <input formControlName="nome" type="text" class="form-control" id="nome" [readonly]="cnsKeyup"
          autocomplete="off">
      </div>

      <div class="form-group col-md-3">
        <label for="sexo">Sexo</label>
        <select class="custom-select" formControlName="sexo">
          <option value="" disabled>Selecione um sexo</option>
          <option value="M">Masculino</option>
          <option value="F">Feminino</option>
        </select>
      </div>
      <div class="col-md-12">
        <button [disabled]="searchForm.invalid" class="btn btn-dark btn-lg mr-2" type="submit">Buscar</button>
        <button (click)="clear()" class="btn btn-secundary btn-lg">Limpar</button>
      </div>
    </div>
  </form>
</div>

<app-search (onTyping)="filter = $event" [value]="filter"></app-search>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">CNS</th>
        <th scope="col">Nome</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">Sexo</th>
        <th scope="col">Contato(s)</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paciente of pacientes | filterByName: filter, let i = index">
        <th scope="col">{{ i + 1 }}</th>
        <td scope="col">{{ paciente?.paciente_cns }}</td>
        <td scope="col">{{ paciente?.paciente_nome }}</td>
        <td scope="col">{{ paciente?.paciente_data_nascimento | date:'dd/MM/yyyy' }}</td>
        <td scope="col">{{ paciente?.paciente_sexo | sexoNome }}</td>
        <td scope="col">{{ paciente?.paciente_contatos }}</td>
        <td scope="col">
          <a class="btn btn-warning btn-sm mr-1" [routerLink]="['editar', paciente.paciente_id]"><i class="fa fa-list-alt">
              Editar</i></a>
          <a class="btn btn-info  btn-sm mr-1" [routerLink]="['detalhes', paciente.paciente_id]"><i class="fa fa-info-circle">
              Detalhes</i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-buttom-load *ngIf="!advantecSearch" (click)="load()" [hasMore]="hasMore"></app-buttom-load>