<div class="container">
  <form [formGroup]="producaoForm" class="form mt-4" (submit)="buscar()">
    <div class="form-row align-items-center">

      <div class="form-group col-md-6">
        <label for="aspecto">Mês</label>
        <select class="custom-select" formControlName="mes">
          <option value="" disabled>Selecione um mês</option>
          <option *ngFor="let mes of meses" [ngValue]="mes.numero">
            {{ mes.nome }}
          </option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label for="aspecto">Ano</label>
        <select class="custom-select" formControlName="ano">
          <option value="" disabled>Selecione um ano</option>
          <option *ngFor="let ano of anos" [ngValue]="ano">
            {{ ano }}
          </option>
        </select>
      </div>
      <div class="col-md-12 text-center">
        <app-vmessage *ngIf="producaoForm.get('ano').errors?.required" text="Ano deve ser selecionado"></app-vmessage>
        <app-vmessage *ngIf="producaoForm.get('mes').errors?.required" text="Mês deve ser selecionado"></app-vmessage>
      </div>
      <div class="col-md-12">
        <button [disabled]="producaoForm.invalid" class="btn btn-primary btn-block" type="submit">Gerar</button>
      </div>

    </div>
  </form>
  <!--<div class="text-right">
    <button *ngIf="producoes$" [disabled]="producaoForm.invalid" class="btn btn-success btn-lg mt-2 mb-2" (click)='downloadPDF()'>Baixar</button>
  </div>-->

  <section *ngIf="producoes$ | async as producoes" id='pdf'>
    <button class="btn btn-success btn-lg mt-4 mb-4" (click)="print()">Imprimir</button>
    <div class="img-container">
      <img src="../../assets/timbrev2.1.png" class="img-fluid" alt="header-logo">
    </div>
    <h2 class="text-center text-uppercase mt-4">Produção</h2>
    <p class="mt-4">Gerado: {{ dataHora() | date:'dd/MM/yyyy hh:mm:ss' }}</p>
    <h4 class="text-center mt-4">Relatório de produção das unidades por ano e mês</h4>
    <div class="table-responsive">
      <table class="table table-striped">
        <caption *ngIf="mes && ano">{{ mes.nome }} de {{ ano }}</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Amostra(s)</th>
            <th scope="col">Unidade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producao of producoes, let i = index">

            <th scope="col">{{ i + 1 }}</th>
            <td>{{ producao.quantidade }}</td>
            <td>{{ producao.unidade }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="2">Total</th>
            <th>{{ total.total }}</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="text-center">
      <p>Laboratórios de Baciloscopia Pesquisa de BAAR-TB
        <br>Secretaria Municipal da Saúde
        <br>Itapeva/SP
      </p>
    </div>


  </section>
</div>