<header class="fixed-top">
  <div *ngIf="(user$ | async) as user">

    <nav class="navbar navbar-light bg-white">
      <a class="navbar-brand">
        <i tabindex="0" (keyup.space)="menu.toggle()" (click)="menu.toggle()" class="fa fa-bars mr-2"> Laboratorio</i>
      </a>

      <app-menu #menu>
        <ul class='list-unstyled'>
          <li>
            <a [routerLink]="['laudos']" (click)="menu.toggle()"><i class="fa fa-archive"></i> Laudos</a>
          </li>
          <li>
            <a [routerLink]="['pacientes']" (click)="menu.toggle()"><i class="fa fa-address-book"></i> Pacientes</a>
          </li>
          <li>
            <a [routerLink]="['relatorios']" (click)="menu.toggle()"><i class="fa fa-clipboard"></i> Relatorios</a>
          </li>
          <li *ngIf="user.user_id == 1">
            <a [routerLink]="['usuarios']" (click)="menu.toggle()"><i class="fa fa-users"></i> Usuarios</a>
          </li>
        </ul>
      </app-menu>

      <nav class="nav nav-pills nav-fill">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['laudos']">Laudos</a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['pacientes']">Pacientes</a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['relatorios']">Relatorios</a>
      </nav>

      <div>
        <i class="fa fa-user-circle mr-2"></i>
        <a class="mr-2">{{ user.user_full_name }}</a>
        <a (click)="logout()" class="btn btn-outline-secondary">Logout</a>
      </div>
    </nav>
  </div>

  <div class="fixed-top">
    <app-alert></app-alert>
  </div>
</header>