.botao {
    margin: 0.5em;
    width: 10em;
    height: 5em;
    vertical-align: middle;
    line-height: 4.5em;
    font-size: 2em;
}

@media print {
    nav, aside, button, a, header, footer, form, ul, ol, li {
       display: none;
    }
 }